<ul class="left-nav-ul">
    {{#foreach navigation}}
        <li class="left-nav-li">
            <a target="_blank" href="{{url absolute="true"}}" class="left-nav-link">{{label}}</a>
        </li>
    {{/foreach}}
</ul>
