<aside class="right-nav">
    <div class="right-nav-top">
        <div class="right-nav-logo" style="background-image: url('{{@blog.logo}}')" alt="{{@blog.title}}"></div>
        <div class="right-nav-title">
            <h1 class="right-nav-name">{{@blog.title}}</h1>
            <p class="right-nav-slogan">{{@blog.description}}</p>
        </div>
    </div>
    <div class="right-nav-search">
        <input class="right-nav-input" type="text" placeholder="关键词搜索">
        <i class="icon ion-ios-search"></i>
    </div>
    <div class="right-nav-blog">
        <i class="icon ion-ios-paper-outline"></i>博客
    </div>
    <div class="right-nav-links">
        <div class="right-nav-classify">外部链接</div>
        <ul class="right-nav-ul">
            <li class="right-nav-li">
                <a href="#" class="right-nav-link"><i class="icon ion-ios-briefcase-outline"></i>简历</a>
            </li>
            <li class="right-nav-li">
                <a href="#" class="right-nav-link"><i class="icon ion-ios-camera-outline"></i>画廊</a>
            </li>
            <li class="right-nav-li">
                <a href="#" class="right-nav-link"><i class="icon ion-ios-filing-outline"></i>文摘</a>
            </li>
            <li class="right-nav-li">
                <a href="#" class="right-nav-link"><i class="icon ion-ios-people-outline"></i>友情</a>
            </li>
        </ul>
    </div>
    <div class="right-nav-bottom">
        <a href="https://github.com/meteor9714" target="_blank"><i class="icon ion-social-github"></i></a>
        <a href="#"><i class="icon ion-social-rss"></i></a>
        <a href="mailto:meteor9714@outlook.com"><i class="icon ion-android-mail"></i></a>
    </div>
</aside>