body {
    margin: 0;
}

.link {
    text-decoration: none;
}

/*left-nav*/
.left-nav {
    width: 280px;
    background-color: #F4F8FB;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.left-nav .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    vertical-align: middle;
}

.left-nav-top {
    padding: 30px 30px 30px 20px;
}

.left-nav-top:after {
    content: '';
    display: block;
    clear: both;
}

.left-nav-logo {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    float: left;
    background: #4A90E2 no-repeat;
    background-size: cover;
}

.left-nav-title {
    float: left;
    max-width: 150px;
    padding-left: 10px;
    color: #323232;
}

.left-nav-name {
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0 5px;
}

.left-nav-slogan {
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-nav-search {
    height: 38px;
    padding-left: 20px;
    position: relative;
}

.left-nav-input {
    height: 34px;
    padding: 0 10px;
    width: 208px;
    border: 1px solid #ECECEC;
    font-size: 13px;
    color: #8E979E;
}

.left-nav-input:focus {
    outline: none;
}

.left-nav-input::placeholder {
    color: #afafaf;
}

.left-nav-search .ion-ios-search {
    position: absolute;
    width: 36px;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
    right: 30px;
}

.left-nav-blog {
    line-height: 30px;
    background: #4A90E2;
    color: #fff;
    font-size: 14px;
    margin: 15px 0 30px;
    width: 230px;
    padding-left: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.left-nav-links {
    padding-left: 12px;
}

.left-nav-classify {
    font-size: 14px;
    color: #949494;
    margin-bottom: 15px;
    padding-left: 8px;
}

.left-nav-ul {
    margin: 0;
    padding-left: 0;
}

.left-nav-li {
    list-style-type: none;
    margin-bottom: 10px;
}

.left-nav-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A4A;
    padding-left: 8px;
    border-left: 2px solid transparent;
}

.left-nav-link:hover {
    border-left: 2px solid #4A90E2;
    color: #4A90E2;
}

.left-nav-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    padding: 14px 30px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E2EDF4;
}

.left-nav-bottom a {
    color: #8397a0;
}

/*post-card*/
.post-card {
    padding: 15px 0;
    display: flex;
    border-bottom: 1px solid #eee;
}

.post-card-image-link {
    text-decoration: none;
    padding-right: 20px;
}

.post-card-image {
    width: 150px;
    height: 90px;
    background-size: cover;
}

.post-card-content {

}

.post-card-content-link {
    text-decoration: none;
}

.post-card-title {
    font-size: 18px;
    color: #4A4A4A;
    margin: 0 0 4px;
}

.post-card-info {
    font-size: 14px;
    color: #7D7D7D;
    margin-bottom: 8px;
}

.post-card-info span {
    margin-right: 25px;
}

.post-card-excerpt {
    font-size: 14px;
    color: #4A4A4A;
}

/*site-index*/
.site-index {
    padding: 0 40px 48px;
}

.site-index-top {
    border-bottom: 1px dashed #efefef;
}

.site-index-top::after {
    content: '';
    display: block;
    clear: both;
}

.site-index-title {
    float: left;
    font-size: 22px;
    margin: 15px 0;
    font-weight: 400;
}

.site-index-filter {
    float: right;
    font-size: 14px;
    color: #4A4A4A;
    margin-top: 20px;
}

.site-index-filter span {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
}

.site-index-filter svg {
    height: 4px;
    margin-left: 2px;
    vertical-align: middle;
    width: 6.11px;
}

.site-index-dropdown {
    width: 160px;
    padding: 5px 0 7px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 8px 16px rgba(27, 39, 51, .08);
    font-size: 13px;
    position: absolute;
    right: 0;
    margin-top: 10px;
    z-index: 1000;
    display: none;
}

.site-index-dropdown.is-active {
    display: block;
}

.site-index-dropdown ul {
    margin: 0;
    padding: 0;
}

.site-index-dropdown li {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.site-index-dropdown li:hover {
    background-color: rgba(62, 176, 239, .15);
}

.site-index-dropdown li.active:hover {
    background-color: transparent;
}

.site-index-dropdown li a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: #62767f;
}

.site-index-dropdown li.active a {
    color: #222;
}

.site-index-pagination {
    position: fixed;
    left: 280px;
    right: 0;
    bottom: 0;
    height: 48px;
    border-top: 1px solid #E2EDF4;
    background-color: #fff;
    font-size: 14px;
    color: #4A4A4A;
    text-align: center;
    line-height: 48px;
    padding: 0 40px;
}

.site-index-pagination .link {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 35px;
    margin-top: 6px;
    color: #ccc;
}

.site-index-pagination .link:hover {
    color: #4A4A4A;
}

.site-index-pagination .link.is-left {
    float: left;
}

.site-index-pagination .link.is-right {
    float: right;
}

.site-index-no-data {
    text-align: center;
    padding-top: 160px;
    color: #666;
}

.site-index-no-data i {
    display: block;
    font-size: 180px;
    line-height: 1;
    color: #eee;
}

/*site-post*/
.site-post {
    font-size: 16px;
    width: 780px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 50px;
}

.site-post-title {
    font-size: 1.5em;
    margin-bottom: .3em;
    padding-right: 90px;
    position: relative;
}

.site-post-title .bdsharebuttonbox {
    position: absolute;
    top: 0;
    right: 0;
}

.site-post-info {
    font-size: 14px;
    color: #7D7D7D;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 1em;
}

.site-post-info span {
    margin-right: 25px;
}

.site-post-article {
    padding: 1em 0 5em;
}

h2.site-post-title {
    font-size: 1.1em;
    padding-right: 0;
}

.site-post-relate ul {
    margin: .6em 0 2em;
    padding: 0;
}

.site-post-relate ul li {
    list-style-type: none;
}

.site-post-relate ul li a {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: #009a61;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.site-post-relate ul li a:hover {
    text-decoration: underline;
}

.site-post-navigator {
    padding: 10px 0 50px;
    border-top: 1px solid #eee;
}

.site-post-navigator a {
    text-decoration: none;
    font-size: 14px;
    color: #556677;
}

.site-post-navigator a:hover{
    color: #111;
}
.site-post-next {
    float: right;
}

.site-post-copyright {
    font-size: 13px;
    color: #666;
    text-align: center;
    line-height: 50px;
}

.site-post-copyright a {
    text-decoration: none;
    color: #1494ff;
}

/*markdown*/
.kg-card-markdown {
    line-height: 1.6;
}

.kg-card-markdown a {
    text-decoration: none;
}

.kg-card-markdown a:hover {
    border-bottom: 1px solid;
}

.kg-card-markdown abbr {
    border-bottom: 1px dotted;
    cursor: help;
}

.kg-card-markdown cite {
    font-style: italic;
}

.kg-card-markdown hr {
    background: #e6e6e6;
    border: none;
    display: block;
    height: 1px;
    margin-bottom: 1.4em;
    margin-top: 1.4em;
}

.kg-card-markdown img {
    vertical-align: text-bottom;
    max-width: 100%;
}

.kg-card-markdown ins {
    background-color: lime;
    text-decoration: none;
}

.kg-card-markdown mark {
    background-color: #ff0;
}

.kg-card-markdown small {
    font-size: 0.8em;
}

.kg-card-markdown strong {
    font-weight: 700;
}

.kg-card-markdown sub, .kg-card-markdown sup {
    font-size: 0.8em;
}

.kg-card-markdown sub {
    vertical-align: sub;
}

.kg-card-markdown sup {
    vertical-align: super;
}

.kg-card-markdown p, .kg-card-markdown dl, .kg-card-markdown ol, .kg-card-markdown ul, .kg-card-markdown blockquote, .kg-card-markdown pre, .kg-card-markdown table {
    margin-bottom: 1.4em;
}

.kg-card-markdown p:last-child, .kg-card-markdown dl:last-child, .kg-card-markdown ol:last-child, .kg-card-markdown ul:last-child, .kg-card-markdown blockquote:last-child, .kg-card-markdown pre:last-child, .kg-card-markdown table:last-child {
    margin-bottom: 0;
}

.kg-card-markdown p:empty {
    display: none;
}

.kg-card-markdown h1, .kg-card-markdown h2, .kg-card-markdown h3, .kg-card-markdown h4, .kg-card-markdown h5, .kg-card-markdown h6 {
    font-weight: 700;
    line-height: 1.2;
}

.kg-card-markdown h1:first-child, .kg-card-markdown h2:first-child, .kg-card-markdown h3:first-child, .kg-card-markdown h4:first-child, .kg-card-markdown h5:first-child, .kg-card-markdown h6:first-child {
    margin-top: 0;
}

.kg-card-markdown h1 {
    font-size: 2.4em;
    margin-bottom: .58333em;
    margin-top: .58333em;
    line-height: 1;
}

.kg-card-markdown h2 {
    font-size: 1.6em;
    margin-bottom: .875em;
    margin-top: 1.75em;
    line-height: 1.1;
}

.kg-card-markdown h3 {
    font-size: 1.3em;
    margin-bottom: 1.07692em;
    margin-top: 1.07692em;
}

.kg-card-markdown h4 {
    font-size: 1.2em;
    margin-bottom: 1.16667em;
    margin-top: 1.16667em;
}

.kg-card-markdown h5 {
    font-size: 1.1em;
    margin-bottom: 1.27273em;
    margin-top: 1.27273em;
}

.kg-card-markdown h6 {
    font-size: 1em;
    margin-bottom: 1.4em;
    margin-top: 1.4em;
}

.kg-card-markdown dd {
    margin-left: 1.4em;
}

.kg-card-markdown ol, .kg-card-markdown ul {
    list-style-position: outside;
    margin-left: 1.4em;
}

.kg-card-markdown ol {
    list-style-type: decimal;
}

.kg-card-markdown ol ol {
    list-style-type: lower-alpha;
}

.kg-card-markdown ol ol ol {
    list-style-type: lower-roman;
}

.kg-card-markdown ol ol ol ol {
    list-style-type: lower-greek;
}

.kg-card-markdown ol ol ol ol ol {
    list-style-type: decimal;
}

.kg-card-markdown ol ol ol ol ol ol {
    list-style-type: lower-alpha;
}

.kg-card-markdown ul {
    list-style-type: disc;
}

.kg-card-markdown ul ul {
    list-style-type: circle;
}

.kg-card-markdown ul ul ul {
    list-style-type: square;
}

.kg-card-markdown ul ul ul ul {
    list-style-type: circle;
}

.kg-card-markdown ul ul ul ul ul {
    list-style-type: disc;
}

.kg-card-markdown ul ul ul ul ul ul {
    list-style-type: circle;
}

.kg-card-markdown blockquote {
    border-left: 4px solid #e6e6e6;
    padding: 0.6em 1.2em;
}

.kg-card-markdown blockquote p:first-child {
    margin-top: 0;
}

.kg-card-markdown blockquote p {
    margin-bottom: 0;
}

.kg-card-markdown code, .kg-card-markdown kbd, .kg-card-markdown samp, .kg-card-markdown pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    background-color: #f2f2f2;
    color: #333;
    font-size: 0.9em;
}

.kg-card-markdown code, .kg-card-markdown kbd, .kg-card-markdown samp {
    border-radius: 3px;
    line-height: 1.77778;
    padding: 0.1em 0.4em 0.2em;
    vertical-align: baseline;
}

.kg-card-markdown pre {
    overflow: auto;
    padding: 1em 1.2em;
}

.kg-card-markdown pre code {
    background: none;
    font-size: 1em;
    line-height: 1em;
}

.kg-card-markdown figure {
    margin-bottom: 2.8em;
    text-align: center;
}

.kg-card-markdown figure:first-child {
    margin-top: 0;
}

.kg-card-markdown figure:last-child {
    margin-bottom: 0;
}

.kg-card-markdown figcaption {
    font-size: 0.8em;
    margin-top: .875em;
}

.kg-card-markdown table {
    width: 100%;
}

.kg-card-markdown table pre {
    white-space: pre-wrap;
}

.kg-card-markdown th, .kg-card-markdown td {
    font-size: 1em;
    padding: .7em;
    border: 1px solid #e6e6e6;
    line-height: 1.4;
}

.kg-card-markdown thead tr, .kg-card-markdown tfoot tr {
    background-color: #f5f5f5;
}

.kg-card-markdown thead th, .kg-card-markdown thead td, .kg-card-markdown tfoot th, .kg-card-markdown tfoot td {
    font-size: .9em;
    padding: .77778em;
}

.kg-card-markdown thead th code, .kg-card-markdown thead td code, .kg-card-markdown tfoot th code, .kg-card-markdown tfoot td code {
    background-color: #fff;
}

.kg-card-markdown tbody tr {
    background-color: #fff;
}

/* jiathis*/
.jiathis_modal_header {
    font-size: 15px!important;
    padding: 6px 15px!important;
}

.jiathis_modal_footer {
    padding-top: 8px!important;
}